body {
  font-family: "Oswald", sans-serif;
  margin: 0;
}
*,
*::before,
*::after {
  font-family: inherit;
}
.divgrid {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
}
.gridrow {
  display: flex;
}
.gridcell {
  border: 1px solid black;
}

.divgrid,
.gridrow,
.gridcell {
  margin: 0;
  padding: 0;
}
